[Unit]
After=network.target
Description=Telegram Async Bot Template

[Service]
Type=simple
WorkingDirectory=/develop/tg-async-bot-template/
ExecStart=/usr/bin/python3 bot.py
Restart=always

[Install]
WantedBy=multi-user.target